@import "./mixins";

.gallery-big {
  flex: 0 0 60%;
  @include breakpoint(lg) {
    height: 65vh;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1rem;
  }
}
.gallery-small {
  height: 60vh;
  @include breakpoint(lg) {
    height: 65vh;
  }
  &-img {
    div {
      height: calc(60vh / 2);

      @include breakpoint(lg) {
        height: calc(65vh / 2);
      }

      img {
        height: 100%;
        width: 100%;
        border-radius: 1rem;
        object-fit: cover;
      }
    }
  }
}
