@import "./mixins";
@import "./varibales";

.gallery-big {
  flex: 0 0 60%;
  @include breakpoint(lg) {
    height: 65vh;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1rem;
  }
}
.gallery-small {
  height: 60vh;
  @include breakpoint(lg) {
    height: 65vh;
  }
  &-img {
    div {
      height: calc(60vh / 2);

      @include breakpoint(lg) {
        height: calc(65vh / 2);
      }

      img {
        height: 100%;
        width: 100%;
        border-radius: 1rem;
        object-fit: cover;
      }
    }
  }
}

//glide testimonial
.testimonial {
  border-radius: 1rem;
}

.glide-testimonial {
  width: 100%;
  height: 100%;

  .review-box {
    background-color: $prim-cl;
    border-radius: 1rem;
    color: $white-cl;
    i {
      font-size: 7.8rem;
    }
    p {
      width: 80%;
      color: $white-cl;
    }
    .review-user {
      color: $white-cl;
      img {
        width: 8rem;
        height: 8rem;
        border-radius: 10rem;
      }
      span {
        font-size: 1.4rem;
      }
    }
  }
}
