@import "./mixins";
@import "./varibales";

button {
  padding: 1rem 2.4rem;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  background-color: transparent;

  &.btn-outline {
    border: 1px solid $prim-cl;
  }
  &.btn {
    background-color: $prim-cl;
    color: $white-cl;
  }

  @include breakpoint(md) {
    padding: 1.6rem 3rem;
  }
}
h1 {
  font-size: 3.4rem;
  @include breakpoint(md) {
    font-size: 4.8rem;
  }
}
h2 {
  font-size: 2.2rem;
  @include breakpoint(lg) {
    font-size: 3rem;
  }
}
h5 {
  font-size: 1.8rem;
}
.h5-lignt {
  font-size: 1.6rem;
  font-weight: 300;
}
p {
  font-size: 1.4rem;
  line-height: 2.6rem;
  color: $blackLi-cl;
  @include breakpoint(md) {
    font-size: 1.4rem;
    line-height: 2.6rem;
  }
  @include breakpoint(lg) {
    font-size: 1.6rem;
  }
}
.bg-text-primary {
  color: $prim-cl;
}
.bg-prim {
  background-color: $prim-cl !important;
}
.bg-sec {
  background-color: $sec-cl !important;
}
.bg-third {
  background-color: $third-cl !important;
}
.bg-forth {
  background-color: $forth-cl !important;
}

//sizing -----
.vh-30 {
  height: 30vh !important;
}
.vh-40 {
  height: 40vh !important;
}
