header {
  height: 7.6rem;
  background-color: #eff5f5;
}
@media screen and (min-width: 768px) {
  header {
    height: 11.2rem;
  }
}

.navbar .navbar-nav {
  list-style: none;
}
.navbar .navbar-nav .nav-item {
  padding: 1.4rem 3rem;
}
.navbar .navbar-nav .nav-item a {
  color: #181818;
  font-size: 1.6rem;
}

.menu-icon {
  width: 4rem;
  height: 2.8rem;
  display: none;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: relative;
  margin-left: 3rem;
}
.menu-icon span,
.menu-icon span::after,
.menu-icon span::before {
  display: block;
  background-color: #181818;
  width: 100%;
  height: 4px;
  border-radius: 100px;
  transition: all 0.2s ease-in-out;
}
.menu-icon span::after {
  content: "";
  position: absolute;
  top: 0;
}
.menu-icon span::before {
  content: "";
  position: absolute;
  bottom: 0;
}

.menu-icon.open span {
  transform: translateX(-50%);
  background-color: transparent;
}

.menu-icon.open span::before {
  transform: rotate(45deg) translate(15px, -15px);
}

.menu-icon.open span::after {
  transform: rotate(-45deg) translate(15px, 15px);
}

.banner {
  background-color: #eff5f5;
}
@media screen and (min-width: 992px) {
  .banner {
    height: 80vh;
  }
}

.brand-logo {
  font-size: 2rem;
  font-weight: 500;
  color: #181818;
}
@media screen and (min-width: 768px) {
  .brand-logo {
    font-size: 2.8rem;
  }
}

.banner-img {
  height: 40%;
}
@media screen and (min-width: 992px) {
  .banner-img {
    height: 70%;
  }
}
.banner-img img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

button {
  padding: 1rem 2.4rem;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  background-color: transparent;
}
button.btn-outline {
  border: 1px solid #6d67e4;
}
button.btn {
  background-color: #6d67e4;
  color: white;
}
@media screen and (min-width: 768px) {
  button {
    padding: 1.6rem 3rem;
  }
}

h1 {
  font-size: 3.4rem;
}
@media screen and (min-width: 768px) {
  h1 {
    font-size: 4.8rem;
  }
}

h2 {
  font-size: 2.2rem;
}
@media screen and (min-width: 992px) {
  h2 {
    font-size: 3rem;
  }
}

h5 {
  font-size: 1.8rem;
}

.h5-lignt {
  font-size: 1.6rem;
  font-weight: 300;
}

p {
  font-size: 1.4rem;
  line-height: 2.6rem;
  color: #282a3a;
}
@media screen and (min-width: 768px) {
  p {
    font-size: 1.4rem;
    line-height: 2.6rem;
  }
}
@media screen and (min-width: 992px) {
  p {
    font-size: 1.6rem;
  }
}

.bg-text-primary {
  color: #6d67e4;
}

.bg-prime {
  background-color: #6d67e4 !important;
}

.bg-sec {
  background-color: #810ca8 !important;
}

.bg-third {
  background-color: #7dce13 !important;
}

.vh-30 {
  height: 30vh !important;
}

.vh-40 {
  height: 40vh !important;
}

.gallery-big {
  flex: 0 0 60%;
}
@media screen and (min-width: 992px) {
  .gallery-big {
    height: 65vh;
  }
}
.gallery-big img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 1rem;
}

.gallery-small {
  height: 60vh;
}
@media screen and (min-width: 992px) {
  .gallery-small {
    height: 65vh;
  }
}
.gallery-small-img div {
  height: 30vh;
}
@media screen and (min-width: 992px) {
  .gallery-small-img div {
    height: 32.5vh;
  }
}
.gallery-small-img div img {
  height: 100%;
  width: 100%;
  border-radius: 1rem;
  -o-object-fit: cover;
     object-fit: cover;
}

.testimonial {
  border-radius: 1rem;
  z-index: 1;
  width: 96%;
}
@media screen and (min-width: 992px) {
  .testimonial {
    max-width: 50%;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
  }
}

.glide-testimonial {
  width: 100%;
  height: 100%;
}
.glide-testimonial .glide__bullets {
  padding: 2rem 0;
}
.glide-testimonial .glide__bullets .glide__bullet {
  background-color: rgb(155, 155, 155);
  padding: 5px;
  border-radius: 10rem;
  transition: all 0.2s ease-in-out;
}
.glide-testimonial .glide__bullets .glide__bullet--active {
  background-color: #6d67e4;
  transform: scale(1.3);
}
.glide-testimonial .glide__bullets .glide__bullet:not(:last-child) {
  margin-right: 1rem;
}
.glide-testimonial .review-box {
  background-color: #6d67e4;
  border-radius: 1rem;
  color: white;
}
.glide-testimonial .review-box i {
  font-size: 7.8rem;
}
.glide-testimonial .review-box p {
  color: white;
}
.glide-testimonial .review-box .review-user {
  color: white;
}
.glide-testimonial .review-box .review-user img {
  width: 8rem;
  height: 8rem;
  border-radius: 10rem;
}
.glide-testimonial .review-box .review-user span {
  font-size: 1.4rem;
}

.about {
  background-color: #eff5f5;
  border-radius: 5px;
  z-index: -1;
}
@media screen and (min-width: 992px) {
  .about {
    position: absolute;
    right: 0;
    top: 50%;
    max-width: 60%;
    transform: translateY(-54%);
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
@media screen and (min-width: 992px) {
  .about .about-content {
    max-width: 60%;
  }
}
.about .about-content > *:not(:last-child) {
  margin-bottom: 1rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-weight: 400 !important;
  color: #181818;
  font-family: "Inter", sans-serif;
}

a {
  text-decoration: none;
}/*# sourceMappingURL=style.css.map */